
<div class="padre">
    <header>
        <img src="../assets/homepage/empresa.png" class="imagen-empresa" alt="">
        <div class="contendor-usuario">
            <div class="contenedor-imagen-usuario">
                <img src="../assets/usuario/perfil.png" alt="">
            </div>
            <div class="contenedor-texto">
                <h2>{{nombreUsuario}}</h2>
            </div>
            <div class="cerrarSesion" id="cerrarSesion" (click)="cerrarSesion()">
                <p>CERRAR SESIÓN</p>
            </div>
        </div>
    </header>
    <div class="contenedor">
        <aside>
            <aside-identificador-usuario></aside-identificador-usuario>
            <list-item [items]="listaDeNavegacion"></list-item>
        </aside>
        <section class="contenido">
            <router-outlet></router-outlet>
            <footer>
                Made by Estudiantes ING Software UAS
            </footer>
        </section>
    </div>
</div>
