<section class="contenedor-dashboard">
  <h2>DASHBOARD</h2>
  <div class="contenedor-data">
    <div class="lado-izquierdo">
      <section>
        <article>
          <div class="titulo">
            <i class="bx bxs-calendar-minus"></i>
            <h4>Citas pendientes</h4>
          </div>
          <p>1</p>
        </article>
        <article>
          <div class="titulo">
            <i class="bx bxs-calendar-check"></i>
            <h4>Servicios terminados</h4>
          </div>
          <p>2</p>
        </article>
      </section>
      <section>
        <article>
          <div class="titulo">
            <i class="bx bxs-user-pin"></i>
            <h4>Número de clientes</h4>
          </div>
          <p>3</p>
        </article>
        <article>
          <div class="titulo">
            <i class="bx bxs-user-badge"></i>
            <h4>Número de técnicos</h4>
          </div>
          <p>4</p>
        </article>
      </section>
    </div>
    <aside class="lado-derecho">
      <h2>Estatus Servicios</h2>
      <article>
        <i class='bx bxs-car' ></i>
        <h4>Autos ingresados</h4>
        <p>1</p>
      </article>
      <article>
        <i class='bx bxs-car-garage' ></i>
        <h4>Autos en espera</h4>
        <p>2</p>
      </article>
      <article>
        <i class='bx bxs-car-mechanic' ></i>
        <h4>Autos en revisión</h4>
        <p>3</p>
      </article>
      <article>
        <i class='bx bxs-exit' ></i>
        <h4>Autos en salida</h4>
        <p>4</p>
      </article>
    </aside>
  </div>
</section>
