<p class="titulo">REGISTRAR CITA</p>

<div class="wrapper">
    <div class="datosServ">
        <p class="tituloGroup">DATOS DEL SERVICIO</p>
        <div class="groupDatos">
            <p>Tipo de servicio</p>
            
            <select name="" id="">
                <option value="" disabled selected>Selecciona el tipo de servicio</option>
                <option value="value1">Value 1</option>
                <option value="value2">Value 2</option>
                <option value="value3">Value 3</option>
            </select>
            <br><br>
            <p>Descripción</p>
            <textarea name="Text1" cols="40" rows="5"></textarea>
        </div>
    </div>
    <br>
    
    
    <div class="datosVeh">
        <p class="tituloGroup">DATOS DEL VEHÍCULO</p>
        <input type="text" name="" id="" placeholder="Buscar"><button class="btnVeh">Nuevo <img src="" alt=""></button><br><br>
    
        <div class="groupDatos">
            <input type="text" name="" id="" placeholder="Matrícula"><br>
            <input type="text" name="" id="" placeholder="Modelo"><br>
            <input type="text" name="" id="" placeholder="Año"><br>
            <input type="text" name="" id="" placeholder="Color"><br>
            <input type="text" name="" id="" placeholder="VIN"><br>
        </div>
    </div>
    <br>
    
    <div class="datosCliente">
        <p class="tituloGroup">DATOS DEL CLIENTE</p>
        <input type="text" name="" id="" placeholder="Buscar"><button class="btnCliente">Nuevo <img src="" alt=""></button><br><br>
    
        <div class="groupDatos">
            <input type="text" name="" id="" placeholder="Nombre Cliente"><br>
            <input type="text" name="" id="" placeholder="RFC"><br>
            <input type="text" name="" id="" placeholder="Correo electrónico"><br>
            <input type="text" name="" id="" placeholder="Teléfono"><br>
        </div>
    </div>
    <br>
    
    <div class="datosFH">
        <p class="tituloGroup">FECHA Y HORA</p>
    
        <div class="groupDatos">
            <p>Fecha</p>
            <app-date-picker-component></app-date-picker-component>
            <p>Hora</p>
            <app-time-picker></app-time-picker>
        </div>

        <button>REGISTRAR CITA</button>
    </div>
</div>
